.alert 
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	display block
	
		

.alert-success 
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
	p
		color #3c763d;
		margin 0

.alert-info 
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
	p
		color #31708f;
		margin 0

.alert-warning 
	border-color: #faebcc;
	color: #8a6d3b;
	background-color: #fcf8e3;
	p
		color #8a6d3b;
		margin 0
.alert-danger 
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	p
		color #a94442;
		margin 0