/**
 * # Botones
 */

.btn
	display inline-block
	padding 6px 12px
	text-decoration: none
	vertical-align middle
	border-radius 4px
	font-weight: 400
	transition background-color 0.3s ease
	border none
	
.btn-primary
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
	&:hover
		background-color #346EA0;
	
	
.btn-info
	color: #fff;
	background-color: #68B5E6
	border-color: #285e8e;	
	&:hover
		background-color #5798C1
		
.btn-danger
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
	&:hover
		color: #fff;
		background-color: #c9302c;
		border-color: #ac2925;
	
	
.btn-succes
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
	&:hover
		color: #fff;
		background-color: #449d44;
		border-color: #398439;
	
	
		

	
// .btn-info

// .btn-primary

