/**
 * # Iconos
 *
 * Paquete de iconos usados como fuente
 * (Puedes usar icomoon, fontello, foundicon, etc, o tus propios iconos)
 */

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-envelope:before {
	content: "\e600";
}
.icon-box-add:before {
	content: "\e601";
}
.icon-search:before {
	content: "\e602";
}
.icon-facebook:before {
	content: "\e603";
}
.icon-twitter:before {
	content: "\e604";
}
