/**
 * # Incotec
 *
 *
 */
@import 'incotec/reutilizable'
@import 'incotec/index'
@import 'incotec/carousel'
@import 'incotec/courses'
@import 'incotec/courses-single'
@import 'incotec/events'
@import 'incotec/events-single'
@import 'incotec/gallery'
@import 'incotec/gallery-single'
@import 'incotec/news'
@import 'incotec/news-single'
@import 'incotec/contact-us-single'
@import 'incotec/leadership'
@import 'incotec/our'
@import 'incotec/login'

