.contact-us-container
	.contact-us-
		.gmap
			height 400px
			width 100%
			background: #777
			margin 0 0 20px 0
		.title
			color #636363
			padding 0 0 15px 0
			font-size: x
			font-weight: 700
			border-bottom: 1px solid rgba(0, 0, 0, .05)
			margin 0 0 15px 0
		p
			margin 0 0 40px 0
		.sucursales
			margin 0 -15px 20px -15px
			padding 0 0 10px 0
			overflow hidden
			border-bottom 1px solid rgba(0, 0, 0, .05)
			.left
				float left
				width 50%
				box-sizing border-box 
				padding-right: 15px;
				padding-left: 15px;
				h3
					font-size: m
					margin 0
					text-transform: uppercase
					font-weight: 700
					color #777
				.small
					margin 0 0 10px 0
					font-size: sl
		.form
			margin 0 -15px 0 -15px
			.form-content
				padding 0 15px 0 15px
				width 50%
			.subject
			.message
			.submit
				width 100%
			.form-title
				padding 0 15px 0 15px

@media screen and (max-width: 770px)	
	.contact-us-container
		.contact-us-
			.gmap
				height 275px
		

	.contact-us-container 
		.contact-us- 
			.form 
				.form-content
					width 100%