
body
	.container
		.courses-container
			

			.courses-
				

				.title-section
					border-bottom 1px solid rgba(0, 0, 0, 0.05)
					color #636363
					font-size x
					margin 0
					padding 0 0 15px 0

				.table-courses
					margin 40px 0 60px 0
					width 100%
					border-collapse collapse
					border-spacing 0	
					color #777				
					thead
						tr
							th
								font-weight 700
								font-size sm
								border-bottom 1px solid #F1F1F1
								text-transform uppercase
								padding 15px 8px
								vertical-align middle
								text-align left
					tbody
						tr
							&:nth-child(2n+1)
								background #F7FBFE
							td.fila
								font-size sl
								border-bottom 1px solid #F1F1F1
								padding 15px 8px
								vertical-align middle
								text-align left
								a
									color #363636
									transition all 0.3s ease
									text-decoration none
									display block
									&:hover
										color color1
							td
								input
								a
									// display block
									margin 0 0 3px 0
																
								form
									position: relative
									width 44px
									height 39px
									input.btn-danger
										width 44px
										height 39px
										position: relative;
										background: transparent;
										z-index: 10
									input.btn-danger ~ div.icon-delete 
										&:hover
											background #C9302C

								.icon-delete
									z-index: 9
									background: #d9534f;
									height: 39px;
									width: 44px;
									position: absolute;
									top: 0;
									border-radius: 4px;
									iconoBefore("\e9ac", #000, #000)
									&:before
										opacity 0.5
										position: absolute
										top 7px
										left 13px
										vertical-align top
									&:hover
										background #C9302C
								
								.crud-container
									.pull-right									
								
										.icon-view
											iconoBefore("\e9ce", #000, #000)
											
											&:before
												opacity 0.5
										.icon-edit
											iconoBefore("\e906", #000, #000)
											&:before
												opacity 0.5
											
										// form.is-inline-block											
										// 	input.icon-delete
										// 		iconoBefore("\e906", #000, #000)
										// 		&:before
										// 			opacity 0.5

		

						

					
					


