.courses-single-container
	.courses-single
		.title
			margin 0
			color #636363
			font-size: x
			font-weight: 700
			padding 0 0 15px 0
			border-bottom: 1px solid rgba(0, 0, 0, 0.05)
			margin 0 0 30px 0
		.curso-imagen
			width 100%
			margin 0 0 10px 0
			img
				width 100%
		.info
			width 100%
			margin 0 0 30px 0
			dt
				padding 5px 0
				float left
				font-size: sl
				font-weight: 700
				text-transform: uppercase
				width 180px
				color #777777
			dd
				padding 5px 0
				margin 0 0 0 180px
				font-size: sl
				font-weight: 300
				color #777
		.content
			margin 0 0 10px 0
			font-weight 300
			line-height 26px
			color #777
			
		h3
			color #636363
			font-weight: 700
			margin 20px 0 20px 0
			border-top: 1px solid rgba(0, 0, 0, 0.05)
			padding 30px 0 0 0
		.list-download
			padding 0
			margin 0 
			li
				border-bottom: 1px solid rgba(0, 0, 0, 0.05)
				list-style none
				padding 0 0 10px 0
				margin 0 0 10px 0
				overflow hidden
				.box 
					position relative					
					iconoBefore("\e95e", #68B5E6, #68B5E6)	
					margin 0 0 0 30px
					display block
					text-decoration: none
					color #68B5E6
					&:before
						position absolute
						left -30px
						top 0
					span
						color #363636
						display block
					.title-download
						font-weight: 400
						text-transform capitalize
						margin 0 0 5px 0
						transition all 0.3s ease
						color #363636
						&:hover
							color color1
					.help-block
						font-size: s 
						color #737373
						font-weight: 300
			li.colorear
				background: rgba($red, .5)
				padding 30px
				&:nth-child(2n)
					background: rgba($blue, .5)
					
	.last-form
		margin 60px 0 0 0
		overflow hidden 
		padding 30px
		background: rgba(215, 255, 202, 0.5);