

body
	.container
		.events-container
			
			
			.events-
				
				
				.title-section
					border-bottom 1px solid rgba(0, 0, 0, 0.05)
					color #636363
					font-size x
					margin 0
					padding 0 0 15px 0
				
				.posts
					margin 0 0 60px 0
					.post
						margin 40px 0 0 0
						.title
							margin 0 0 15px 0
							a
								color #363636
								text-decoration none
								font-size m
								display block
								text-transform uppercase
								transition 0.3s all ease 
								
								&:hover
									color color1
						.date
						.time
							border-bottom 1px solid #EAEAEA
							border-top 1px solid #EAEAEA
							float left
							font-size sm
							margin 0 0 15px 0
							padding 5px 15px 5px 0
						.date
							border-right 1px solid #EAEAEA
							color #16A990
							font-weight 600
						.time
							color #777
							font-weight 600
							padding 5px 15px 5px 15px
						.content
							clear both
							margin 0
							font-size m							
							color #777777
							.more
								font-size s
								color color1
								text-decoration none
								font-weight 600
								&:hover
									color black
			.is-block
				width 100%
					
				

			