.events-single-container
	.events-single
		
		.title-event
			margin 0 0 20px 0 
			padding 0 0 15px 0
			border-bottom 1px solid rgba(0, 0, 0, 0.05)
		.info
			margin 0 0 20px 0
			overflow hidden
			span
				display block
				float left
				font-size sl
				padding 10px
				text-transform uppercase
				background #F1F1F1
				color #777777
				font-weight: 300
			.from
				background #16A990
				color #FFFFFF
				font-weight 700
			.to
				background #16A990	
				color #FFFFFF
				font-weight 700
		p
			clear both
			margin 0 0 0 0
			color #777777
			font-weight 300
			line-height 26px
		.programme
			h3
				margin 20px 0 20px 0
				font-size m
				text-transform uppercase
				font-weight 700
				color #636363
			p
				margin 0 0 20px 0
				
			.programme-table
				margin 40px 0 60px 0
				width 100%
				border-collapse collapse
				border-spacing 0	
				color #777	
				thead
					tr
						th
							font-weight 700
							font-size sm
							border-bottom 1px solid #F1F1F1
							text-transform uppercase
							padding 15px 8px
							vertical-align middle
							text-align left
							
				tbody
					tr
						&:nth-child(2n+1)
							background #F7FBFE
						td
							font-size sl
							border-bottom 1px solid #F1F1F1
							padding 15px 8px
							vertical-align middle
							text-align left
							font-weight 300
							a
								color #363636
								transition all 0.3s ease
								text-decoration none
								display block
								font-weight 300
								&:hover
									color color1
							
							.icon-edit
								display inline-block
								position relative
								background #428bca
								border-radius: 4px;
								input
									color transparent
									position: relative;
									background: transparent;
								iconoBefore("\e906", #000, #000)
								&:before
									opacity 0.5
									position: absolute
									top 2px
									left 7px
									vertical-align top
									
								&:hover
									background-color #346EA0;
									
							.icon-delete
								
								position relative
								background #d9534f
								border-radius: 4px;
								input
									color transparent
									position: relative;
									background: transparent;
								iconoBefore("\e9ac", #000, #000)
								&:before
									opacity 0.5
									position: absolute
									top 1.5px
									left 8px
									vertical-align top
									
								&:hover
									background-color: #c9302c;
									border-color: #ac2925;
				


	.last-form
		overflow hidden 
		padding 30px
		background: rgba(215, 255, 202, 0.5);
		p.form-title
			font-weight: 700

