


.galleries-container
	
	.gallery-
	
		.title-section
			border-bottom 1px solid rgba(0, 0, 0, 0.05)
			color #636363
			font-size x
			margin 0
			padding 0 0 15px 0
		.albums
			margin 0 0 60px 0
			.album
				margin 40px 0 0 0
				.last-photo
					overflow hidden
					width 100%
					height 245px
					position relative
					background #EAEAEA
					margin 0 0 10px 0
					img
						height 100%
						transform translate(-50%, -50%)
						position absolute								
						top 50%
						left 50%
						transition all 0.3s ease
						&:hover
							transform translate(-50%, -50%) scale(1.2)
				.info
					.left
						float left
						padding 0 15px 0 0
						margin 0 15px 0 0
						border-right 1px solid rgba(0, 0, 0, 0.05)
						.photos-num
							display block
							color #68B5E6
							font-size 36px
							text-align center
							font-weight 800
							line-height 36px
							
						.photos-tag
							display block
							font-size 12px
							text-transform uppercase
							text-align center
							font-weight 400
							color #777

					.right
						margin 0 0 0 80px
						.title
							margin 0
							font-size 22px									
							a
								color #363636
								text-decoration none
								transition all 0.3s ease
								&:hover
									color color1
						.description
							margin 0
							color #777
							font-size sl

@media screen and (max-width: 770px)	

	.galleries-container
		.gallery-
			.albums
				.album
					.last-photo
						height 150px
					.info
						.right
							margin 0
									


							
