



		
.home-container
	overflow hidden
	display table
	width 100%
	.events
	.news
	.extra-container
		display table-cell
		padding 30px
		width 33.3333%		
		box-sizing border-box
		color #898989
		.title-section
			font-size sm
			font-weight 600				
			margin 0 0 40px 0
			position relative
			&:before
				background color1
				content ""
				height 18px
				left -25px
				position absolute
				top 0
				width 5px
	.events
	.news
		.post
			margin 0 0 30px 0
			padding 0 0 20px 0
			border-bottom 1px solid #EAEAEA
			&:nth-last-child(1)
				margin 0 
				padding 0
				border none
			.title
				margin 0 0 10px 0
				a
					color #363636
					text-decoration none
					font-size m
					display block
					text-transform uppercase
					transition 0.3s all ease 
					
					&:hover
						color color1
			.content
				.more
					transition 0.3s all ease 
					font-weight 600
					&:hover
						color black
						
	.events
		background #F4F4F4
		
		.post
			
			.date
			.time
				font-size sm
				border-top 1px solid #EAEAEA
				border-bottom 1px solid #EAEAEA
				padding 5px 15px 5px 0
				float left
				margin 0 0 15px 0
				font-weight 600
			.date
				border-right 1px solid #EAEAEA
				color #16A990
				
			.time
				padding 5px 15px 5px 15px						
				font-weight 400 
			.content
				clear both
				margin 0
				font-size sl
				.more
					font-size s
					color color1
					text-decoration none
	.news
		background #FFFFFF
		
		.post
			
			.date
				font-size s
				display block
				margin 0 0 15px 0
				padding 0 0 15px 0
				border-bottom 1px solid #EAEAEA
				font-weight 600
			.image
				float left
				box-sizing border-box
				background #EAEAEA
				height 90px
				width 90px
				margin 0 15px 0 0
				position relative
				overflow hidden
				img
					display block
					left 50%
					// max-height 100%
					// max-width 100%
					height 100%
					position absolute
					top 50%
					transform translate(-50%, -50%)
					transition 0.3s all ease
					&:hover
						transform translate(-50%, -50%) scale(1.2)
			.content
				font-size sl
				margin 1em 0 1em 90px
				min-height 97px
				.more
					font-size s
					color color1
					text-decoration none
	.extra-container
		background #F4F4F4
		float none
		
		.aula
			width 100%
			a.aulavirtual
				&:nth-child(2)
					background: #F3CC0C
					.play-circle
						iconoBefore("\e976", #000, #000)
						&:before
							line-height: 20px
							vertical-align top    
				text-decoration: none
				width 100%
				background: #5DCA9D
				display block
				position relative
				padding: 15px 20px;
				margin: 20px 0;
				
				.play-circle
					float left
					width 20px
					height 20px
					iconoBefore("\e600", #000, #000)
					&:before
						line-height: 20px
						vertical-align top   
						opacity: 0.5;
					
				.text-area
					margin 0 0 0 30px
					display block
					.text-title
						display block
						font-size: 20px
						font-weight: 700
						color: #fff7e3;
						letter-spacing: -.02em;
						line-height: 20px;
						
					.text-tagline
						display block
						color: #000;
						opacity: 0.5;
						font-size: 12px
						line-height: 16px
						font-weight: 400
						margin 5px 0 0 0

		.course-finder
			margin 0 0 20px 0
			.title
				// font-size l
				margin 0 0 15px 0
			form
				box-sizing border-box
									
				div
					white-space nowrap
					margin 0 92px 0 0	
					.txb-find
						border 2px solid #E9E9E9
						box-sizing border-box
						color #555555
						float left
						font-size sm
						font-weight bold
						height 40px
						padding 0 10px
						width 100%
					.btn-find
						background #68B5E6
						border none
						box-sizing border-box
						color white
						font-weight 600
						height 40px
						margin 0 0 0 -1px
						padding 9px 12px
						position relative
						transition 0.3s all ease
						&:before
							border-bottom 5px solid transparent
							border-right 5px solid #68B5E6
							border-top 5px solid transparent
							transition 0.3s all ease
							content ""
							left -5px
							margin-top -5px
							position absolute
							top 50%
						&:hover
							background #333333
							&:before
								border-right 5px solid #333333
				.help-block
					display block
					font-size s
					margin 5px 0 0 0

@media screen and (max-width: 990px)
	.home-container
		.events
		.news
		.extra-container
			width 100%
			display block