
.leadership-container
	
	.leadership-
		
		.title-section
			border-bottom 1px solid rgba(0, 0, 0, 0.05)
			color #636363
			font-size x
			margin 0
			padding 0 0 15px 0
		
		.leaders
			.subtitle
				color #636363
				margin 40px 0 -20px 0
			.leader
				margin 40px 0 0 0
				.photo
					margin 0 30px 0 0
					position relative	
					background: #777
					float left
					overflow hidden
					width 100px
					height 100px
					img
						height 100%
						transform translate(-50%, -50%)
						position absolute								
						top 50%
						left 50%
				.info-content
					margin: 0 0 0 130px
					.info
						.title
							color #636363
							margin 0
							font-size: 15px
							small
								color #636363
								font-size: 10px
								text-transform: uppercase
								font-weight: 400
						.leader-position
							margin 0 0 20px 0 
							font-style: italic
							font-size: 13px
							padding 0 0 10px 0
							border-bottom: 4px solid rgba( 0, 0, 0, 0.05 );
							
								
@media screen and (max-width: 770px)	
	.leadership-container		
		.leadership-
			.leaders
				.leader
					.info-content
						margin 0