.limit
	
	.form-login
		background: #FFFFFF
		box-sizing: border-box
		padding 30px
		overflow hidden
		margin 50px auto 50px auto
		max-width 500px
		box-shadow 0 0 3px rgba($blue, 0.5)
		box-shadow: 
		.form-content
			width 100%
		.remember-me
			font-weight: 300
			color #777777
		// .alert 
		// 	margin 0 15px 20px 15px;
		.forgot
			text-decoration: none
			color $blue