.container
	.news-single-container
		.news-single
			padding none
			background: transparent
			
			article
				background: #fff
				padding 30px	
				margin-bottom: 40px;
				
				.image
					overflow hidden
					width 100%
					height 245px
					position relative
					background #EAEAEA
					margin 0 0 30px 0
					img
						height 100%
						transform translate(-50%, -50%)
						position absolute								
						top 50%
						left 50%
						transition all 0.3s ease
						// &:hover
						// 	transform translate(-50%, -50%) scale(1.2)
						
				.title
					margin 0
					padding 0 0 15px 0
					font-size x
					font-weight 700
					border-bottom 1px solid rgba(0, 0, 0, 0.05)
					color #636363
				.info
					margin 5px 0 20px 0
					span
						display inline-block
						font-weight 400
						font-size s
						vertical-align middle
					.date
						color #777777
						padding 0 10px 0 0
						margin 0 5px 0 0 
						border-right 1px solid rgba(0, 0, 0, 0.05)
					.category
						color color1					
						padding 0 10px 0 0
						margin 0 5px 0 0 
						border-right 1px solid rgba(0, 0, 0, 0.05)
					.comments
						color color1
				
				p
					font-weight 300
					color #777
					&:nth-last-child(1)
						margin 0
				.sub-title
					color #636363
					margin 20px 0 20px 0
					
			.comentarios
				background: #fff
				padding 30px
				min-height 134px