
.nosotros-
	background: #FFF
	padding 30px
	box-sizing: border-box
	.title
		font-weight: 700
		color #707070
	.nosotros-portada
		width 100%
		img
			width 100%
	h1		
	h3
		color #707070
		font-weight: 700

	.vision
	.mision
		vertical-align: top
		display inline-block	
		width 47.4%
	.vision
		margin 0 4.5% 0 0


	// ERROR 404
		
	.title-404
		color #636363
		text-align: center
		font-size 28px
		font-weight: 700
		padding 0 0 15px 0
		border-bottom: 1px solid rgba( 0, 0, 0, 0.05 );
		margin 0 0 15px 0
	.image-404
		width 100%
		margin 40px 0 0 0
		img
			margin 0 auto
			display block
	.ops
		display block		
		margin 40px auto 10px auto
		text-align: center
		font-size: 16px
		font-weight: 700
	.message-404
		margin 0 auto
		text-align center
		display block

@media screen and (max-width: 770px)	
	.nosotros-
		.vision
		.mision
			width 100%
			
@media screen and (max-width: 320px)				

	.nosotros-
		.image-404
			img
				width 100%