
body
	.container			
		.courses-container	
			.courses-				
				.title-section
					border-bottom 1px solid rgba(0, 0, 0, 0.05)
					color #636363
					font-size x
					margin 0 0 40px 0
					padding 0 0 15px 0


.pagination
	float right
	margin 0
	padding 0					
	li
		display inline-block
		background #FFF
		color black
		border 1px solid #F2F2F2
		padding 0
		float left
		font-size sm
		transition all 0.3s ease
		&:hover
			background #F2F2F2
			a
				color color1
		a
			transition all 0.3s ease
			text-decoration none
			display block
			color #363636
			padding 6px 12px
	.active
		background color1
		color #FFF
		span
			transition all 0.3s ease
			padding 6px 12px
			display block
		&:hover
			background color1
			color #FFF
			cursor default
	.disabled
		padding 6px 12px
		color #777
		cursor no-drop
		&:hover
			background #FFFFFF


.title2
	color #898989
	font-size sm
	font-weight 600
	line-height 18px
	margin 0 0 40px 0
	position relative
	&:before
		background color1
		content ""
		height 18px
		left -25px
		position absolute
		top 0
		width 5px

.news-
.events-
.gallery-
.courses-
.courses-single
.events-single
.news-single
.contact-us-
.leadership-
	display table-cell
	overflow hidden
	padding 30px
	box-sizing border-box	
	background #FFFFFF
	width 66.6666%
	float left
	.new-container
		&:nth-child(1)
			display inline		


.extra-container
	float left
	display table-cell
	overflow hidden
	padding 30px
	width 33.3333%		
	box-sizing border-box	
	background: #F3F3F3
	.links			
		margin 0 0 60px 0		
		.title-widget
			color #898989
			font-size sm
			font-weight 400
			line-height 18px
			margin 0 0 40px 0
			position relative
			&:before
				background color1
				content ""
				height 18px
				left -25px
				position absolute
				top 0
				width 5px
		.list-links
			padding 0
			.item-link
				border-bottom 1px solid #EAEAEA
				font-size sm
				list-style none
				margin 0 0 7px 0
				padding 0 0 7px 15px
				position relative
				text-transform uppercase
				&:before
					background #ACACAC
					border-radius 50%
					content ""
					height 3px
					left 0
					position absolute
					top 7px
					width 3px
				a
					display block
					color #636363
					font-weight 700
					text-decoration none
					transition 0.3s all ease
					&:hover
						color color1				

	.events
		display block	
		box-sizing border-box
		.title-section
			color #898989
			font-size sm
			font-weight 400		
			margin 0 0 40px 0
			position relative
			&:before
				background color1
				content ""
				height 18px
				left -25px
				position absolute
				top 0
				width 5px
			
		.post						
			margin 0 0 30px 0
			padding 0 0 20px 0
			border-bottom 1px solid #EAEAEA
			&:nth-last-child(1)
				margin 0 
				padding 0
				border none
			.title
				margin 0 0 15px 0
				a
					color #363636
					text-decoration none
					font-size m
					display block
					text-transform uppercase
					transition 0.3s all ease 
					
					&:hover
						color color1
			.content
				.more
					transition 0.3s all ease 
					font-weight 600
					&:hover
						color black
			.date
			.time
				font-size sm
				border-top 1px solid #EAEAEA
				border-bottom 1px solid #EAEAEA
				padding 5px 15px 5px 0
				float left
				margin 0 0 15px 0
			.date
				border-right 1px solid #EAEAEA
				color #16A990
				font-weight 600
			.time
				padding 5px 15px 5px 15px
				color #777
			.content
				clear both
				margin 0
				font-size sl
				.more
					font-size s
					color color1
					text-decoration none

	.news
		.title-section
			color #898989
			font-size sm
			font-weight 400
			line-height 18px
			margin 0 0 40px 0
			position relative

			&:before
				background color1
				content ""
				height 18px
				left -25px
				position absolute
				top 0
				width 5px
		
		.post
			clear both
			margin 0 0 20px 0
			padding 0 0 20px 0
			border-bottom 1px solid #EAEAEA
			overflow hidden
			&:nth-last-child(1)
				margin 0 
				padding 0
				border none
			.image
				width 75px
				height 75px
				overflow hidden
				float left
				position relative
				margin 0
				img
					display block
					left 50%
					height 100%
					position absolute
					top 50%
					transform translate(-50%, -50%)
					transition 0.3s all ease
					&:hover
						transform translate(-50%, -50%) scale(1.2)
				
			.date
				margin 0 0 10px 90px
				display block
				font-weight 600
				color #777777
				font-size s

			.title
				margin 0 0 0 90px
				a
					color #363636
					text-decoration none
					font-size m
					display block
					text-transform uppercase
					transition 0.3s all ease 
					
					&:hover
						color color1
						

.form
	display block
	box-sizing border-box
	
	.form-title
		color #636363
		font-size: m
		font-weight: 700
		margin 0 0 20px 0
		
		text-transform: uppercase

	.form-label
		color #777777
		cursor default
		display block
		font-family: 'Open Sans', Arial
		font-size: s
		font-weight: 400
		margin 0 0 5px 0
		text-transform uppercase
	.submit
		width 100%
		input
			background: #666666
			border 1px solid transparent
			color #FFFFFF
			float right
			font-size: sl
			font-weight: 700
			padding 6px 12px
			transition background 0.3s ease
			&:hover
				background #333333
.form-control
	border 2px solid rgba( 0, 0, 0, 0.1 )
	color #555555
	display block
	font-family: 'Open Sans', Arial
	font-size: sl
	padding 7px 10px
	width 100%

.form-content
	box-sizing border-box
	float left
	margin 0 0 15px 0
	
	vertical-align: top
	display block
	width 100%
	&:nth-last-child(1)
		margin 0
				
.crud-container
	display block
	overflow hidden
	padding 5px 0
	
.pull-right
	float right

.form-container
	margin 40px 0 0 0 
	padding 30px
	box-sizing border-box
	background: #FFF
	overflow hidden
	
.by
	color #FFF
	text-decoration: none
	font-weight 700
	&:hover
		text-decoration: underline
	

#map
	height 100%
	width 100%
	

@media screen and (max-width: 990px)
			
	.news-
	.events-
	.gallery-
	.courses-
	.courses-single
	.events-single
	.news-single
	.contact-us-
	.leadership-
		display block
		width 100%

	.extra-container
		display block
		width 100%
		
.body
	overflow hidden
	color #777
	p
		line-height: normal
		margin 0
		color #777