iconoBefore(contenido, color, colorOver)
	cursor pointer
	color color
	text-decoration none 
	&:before
		content contenido
		font-family "icomoon"
		font-size 20px
		line-height 27px
		vertical-align middle    
	&:hover
		color colorOver 